@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  /* transform: scale(.9) */
}
.title {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  margin-left: 2vw;
  width: 20vw;
}
#background-map {
  height: 770px;
  width: 1400px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-image: url('imgs/background-new-01.png');
  /* background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover; */
}

.route {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  display: none;

}
.route-selected {
  display: inline;
}
.sprite {
  width: 20px;
  z-index: 4;
}
.sprite:hover {
  z-index: 5;
  transform: scale(2);
  transition: transform 0.3s ease-out;
}
.card {
  display: none;
  z-index: 10;
}
.card-show {
  display: inline;
}
.arrows {
  /* transform: scale(0.8); */
}
.path-all {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  height: 770px;
  width: 1400px;
}
.one-game {
  position: fixed;
  top: 176px;
  left: 405px;
}
.one-manga {
  position: fixed;
  top: 176px;
  left: 450px;
}
.one-anime {
  position: fixed;
  top: 176px;
  left: 468px;
}
.one-blue {
  position: fixed;
  top: 520px;
  left: 410px;
}
.one-oak-game {
  position: fixed;
  top: 510px;
  left: 440px;
}
.one-oak-manga {
  position: fixed;
  top: 510px;
  left: 460px;
}
.one-oak-anime {
  position: fixed;
  top: 510px;
  left: 480px;
}
.one-oak-game-card {
  position: fixed;
  top: 310px;
  left: 480px;
}
.one-oak-manga-card {
  position: fixed;
  top: 310px;
  left: 500px;
}
.one-oak-anime-card {
  position: fixed;
  top: 330px;
  left: 520px;
}
.one-brock-game {
  position: fixed;
  top: 140px;
  left: 445px;
}
.one-brock-manga {
  position: fixed;
  top: 140px;
  left: 465px;
}
.one-brock-anime {
  position: fixed;
  top: 140px;
  left: 485px;
}
.one-brock-game-card {
  position: fixed;
  top: 130px;
  left: 500px;
}
.one-brock-manga-card {
  position: fixed;
  top: 130px;
  left: 500px;
}
.one-brock-anime-card {
  position: fixed;
  top: 130px;
  left: 520px;
}

.one-oaks-parcel {
  position: fixed;
  top: 390px;
  left: 420px;
}
.one-oaks-parcel-card {
  position: fixed;
  top: 410px;
  left: 440px;
}




.two-game {
  position: fixed;
  top: 84px;
  left: 406px;
}
.two-manga {
  position: fixed;
  top: 100px;
  left: 452px;
}
.two-anime {
  position: fixed;
  top: 116px;
  left: 452px;
}
.two-misty-game {
  position: fixed;
  top: 70px;
  left: 845px;
}
.two-misty-manga {
  position: fixed;
  top: 90px;
  left: 845px;
}
.two-misty-anime {
  position: fixed;
  top: 110px;
  left: 845px;
}
.two-misty-game-card {
  position: fixed;
  top: 90px;
  left: 865px;
}
.two-misty-manga-card {
  position: fixed;
  top: 130px;
  left: 860px;
}
.two-misty-anime-card {
  position: fixed;
  top: 150px;
  left: 860px;
}
.three-ltsurge-game {
  position: fixed;
  top: 420px;
  left: 855px;
}
.three-ltsurge-manga {
  position: fixed;
  top: 480px;
  left: 820px;
}
.three-ltsurge-anime {
  position: fixed;
  top: 390px;
  left: 850px;
}
.three-ltsurge-game-card {
  position: fixed;
  top: 390px;
  left: 880px;
}
.three-ltsurge-manga-card {
  position: fixed;
  top: 420px;
  left: 500px;
}
.three-ltsurge-anime-card {
  position: fixed;
  top: 350px;
  left: 900px;
}
.three-eevee-manga {
  position: fixed;
  top: 313px;
  left: 571px;
}
.three-eevee-manga-card {
  position: fixed;
  top: 333px;
  left: 591px;
}
.three-snorlax-manga {
  position: fixed;
  top: 402px;
  left: 1035px;
}
.three-snorlax-manga-card {
  position: fixed;
  top: 422px;
  left: 1055px;
}
.three-pkmntower-manga {
  position: fixed;
  top: 230px;
  left: 1055px;
}
.three-pkmntower-manga-card {
  position: fixed;
  top: 210px;
  left: 1075px;
}
.three-erika-manga {
  position: fixed;
  top: 260px;
  left: 685px;
}
.three-erika-manga-card {
  position: fixed;
  top: 280px;
  left: 705px;
}
.three-bill-game {
  position: fixed;
  top: 10px;
  left: 990px;
}
.three-bill-game-card {
  position: fixed;
  top: 30px;
  left: 1010px;
}
.three-blue-game {
  position: fixed;
  top: 480px;
  left: 865px;
}
.three-blue-game-card {
  position: fixed;
  top: 480px;
  left: 885px;
}

#overlay-route img {
  transition: background-image 1s ease-out;
}

.navigation, .navigation-bars {
  position: fixed;
  top: 10vh;
  left: 1.5vw;
  width: 18vw;
}
.navigation {
  z-index: 100;
}
.navigation-bars {
  z-index: 99;
}

table {
  table-layout: fixed ;
  width: 100%;
  font-size: .8em;
  border-spacing: 0;
  
}

th > img {
  height: 8vh;
}
.navigation > tbody > tr > td , .navigation > tbody > tr > th, .navigation-bars > tbody > tr > td {
  text-align: center;
  height: 8vh;
  width: 33%;
  cursor: pointer;
}
.navigation > tbody > tr > td > img {
  width: 2vw;
}

.selected {
  transition: background-color .5s ease-out;
  background-color: rgb(255, 212, 148, .5);
  
}

.bar {
  margin: 5vh auto;
  width: 1vw;
  height: 50vh;
  
  
}
.bar-game {
  background-color: rgb(0, 255, 0, 0.5);
}
.bar-manga {
  background-color: rgb(255, 0, 0, 0.5);
}
.bar-anime {
  background-color: rgb(0, 255, 255, 0.5);
}