@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
}

#background-map {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-image: url('imgs/background-new-01.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

.navigation, .navigation-bars {
  position: fixed;
  top: 10vh;
  left: 1.5vw;
  width: 18vw;
}
.navigation {
  z-index: 3;
}
.navigation-bars {
  z-index: 2;
}

table {
  table-layout: fixed ;
  width: 100%;
  font-size: .8em;
  border-spacing: 0;
  
}

th > img {
  height: 8vh;
}
.navigation > tbody > tr > td , .navigation > tbody > tr > th, .navigation-bars > tbody > tr > td {
  text-align: center;
  height: 8vh;
  width: 33%;
  cursor: pointer;
}
.navigation > tbody > tr > td > img {
  width: 2vw;
}

.selected {
  transition: background-color .3s ease-out;
  background-color: rgb(255, 212, 148, .5);
  
}

.bar {
  margin: 5vh auto;
  width: 1vw;
  height: 50vh;
  background-color: rgb(224, 166, 166);
  
}